.gameWindow{
    display: grid; 
    margin-top: 3rem; 
    grid-template-columns: repeat(4, 9rem); 
    place-items: center; 
    row-gap: 2rem; 
    padding: 20px;
}

.face { 
    height: 6rem; 
    width: 6rem;
} 
  
.back { 
    height: 6rem; 
    width: 6rem; 
    background-color: rgb(137, 64, 185); 
    color: rgb(61, 21, 21); 
} 
  
.item .face { 
    position: absolute; 
    transform: rotateY(90deg); 
    transition: all ease-in 0.20s; 
  
} 
  
.toggled .face { 
    transform: rotateY(0deg); 
    transition-delay: 0.20s; 
} 
  
.item .back { 
    transition: all ease-in 0.20s; 
    transition-delay: 0.20s; 
} 
  
.toggled .back { 
    transform: rotateY(90deg); 
    transition-delay: 0s; 
}


.winningScreen{
    z-index: 2;
    color: black;
}

@media only screen and (max-width: 600px) {
    .face{
        height: 4rem;
        width: 4rem;
    }

    .back{
        height: 4rem;
        width: 4rem;
    }

    .gameWindow{
        grid-template-columns: repeat(4, 5rem); 
        padding: 10px;
    }
  }




/********************Buttons**********************/
.nextLevel{
    background: black;
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all ease-in-out .25s;
    width: 30%;
}

.nextLevel:hover{
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.95);
}

.nextLevelText{
    background: linear-gradient(to right, crimson,purple,blue);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgb(255, 255, 255);
    font-size: 20px;
    text-align:center;
    transition: color .2s ease-in-out;
    text-transform:uppercase;
    font-weight: 700;
    border-radius: 15px;
  }
  
  .nextLevelText:hover{
    color:rgba(255, 255, 255, 0);
  }


  .newGame{
    background: black;
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all ease-in-out .25s;
    width: 10%;
  }

  .newGame:hover{
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.95);
}

  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }