.mainScreen{
    min-height: 80vh;
    color: black;
}

.leaderboardContainer{
    width: 40%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.50);
    background-color: rgba(255, 255, 255, 0.8);
}

.firstRow{
    background-color: rgba(0, 0, 0, 0.2);
}

.secondRow{
    background-color: rgba(0, 0, 0, 0.1);
}

tr{
    display: flex;
    width: 100%;
    font-size: 20px;
}

th{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    font-size: 20px;
}

.wave2{
    z-index: -1;
}