.pfp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profileContainer{
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 65vh;
}

.aboutContainer{
    background-color: rgba(255, 255, 255, 0.9);
    height: 55vh;
}

.errorScreen{
    background-color: rgba(255, 255, 255, 0.9);
}


.returnButton{
    background: white;
    border: none;
    border-radius: 15px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 22px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    transition: all ease-in-out .25s;
}

.returnButton:hover{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.cancelButton{
    background: black;
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    transition: all ease-in-out .25s;
}

.cancelButton:hover{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.signOutButton{
    background: rgba(233, 66, 66, 0.9);
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    transition: all ease-in-out .25s;
}

.signOutButton:hover{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.toggleButton{
    background: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    transition: all ease-in-out .25s;
}

.toggleButton:hover{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}